<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>teste</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
    
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style-inicial.css" rel="stylesheet">
  </head>
  <body>
    <div id="inicial">
      <div id="inicial-img">
        <img src="../static/img/money.png" alt="money">
        <h1>Nome</h1>
      </div>
      <div id="inicial-button">
        <a href="slides.html"><button >começar</button></a>
      </div>
  </div>
   
  </body>
</html>