<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/venobox/venobox.css" rel="stylesheet">
  <!-- <link href="../static/vendor/owl.carousel/../static/owl.carousel.min.css" rel="stylesheet"> -->
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

 
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

   <!-- ======= Header ======= -->
   <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../static/img/perfil.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-profile"><a href="{% url 'home-c' %}"></a>Amanda Wolf</a></h1>
      </div>

      <nav class="nav-menu">
        <ul>
          <li><a href="{% url 'home-c' %}"> <span>Home</span></a></li>
          <li><a href="{% url 'despesas' %}"> <span>Despesas</span></a></li>
          <li><a href="{% url 'metas' %}"> <span>Metas</span></a></li>
          <li><a href="{% url 'faq' %}"> <span>Dúvidas frequentes</span></a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->


  <main id="main">
  <section id="planejamento" class="planejamento">
      <div class="container">

          <div class="row" id="plan">
            <div id="arrow-right-icon">
              <a href="{% url 'home-c' %}"><img src="../static/img/arrow-left-w.png " alt="arrow-left"></a>
            </div>
            <div id="title">
                <h3>Planejamento mensal</h3>
            </div>
          </div>

        <div id="plan-button">
            <a href="{% url 'planejamento' %}"><button >Novo planejamento</button></a>
        </div>

        <div id="title-p">
          <h3>Planejamento atual</h3>
        </div>


        <div class="section-planejamento">
          
          
          <div id="status">
            <p>Muito bem! Atualmente você está gastando menos do que ganha.

            </p>

          </div>
            <div id="icons-plan" >
              <img src="../static/img/rec.png" alt="plan">
  
              <img src="../static/img/gast.png" alt="plan">
              
              
            </div>
            <div id="legend-plan">
              <div><p>R$ 5.459,00</p></div>
              <div><p>R$ 3.109,02</p></div>
              
            </div>

            <div id="plan-cas">
              <p>Cash Invest arrecadado no mês:              </p>
            </div>
            <div id="legend-plan">
              <div><p>R$ 300,00</p></div>
            </div>

          
      </div>


      <div class="section-planejamento">
          
        <div id="legend-cart" style="font-weight: bold;">
          <div><p>MEU ORÇAMENTO:</p></div>
          <div><p> R$ 5.500,00</p></div>
        </div>


          <div id="plano">
            <img src="../static/img/planmen.png" alt="">
          </div>

        
    </div>




        
      </div>
    </section><!-- End About Section -->

  
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="../static/vendor/counterup/counterup.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/venobox/venobox.min.js"></script>
  <script src="../static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../static/vendor/typed.js/typed.min.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html> 